extends layout.pug
append head
    title Admin Home
    
append content
    div(class='mynav')
        div(class='title')
            h1 Admin Home
        div(class='logout')
            button(class='logout-btn') Logout
    div(class='container')
        div(class='heading')
            h3 Group Info
        table(id='members')
            tr 
                th id
                th Name
                th Username
                th Email
                th Role
                th Update
                th Delete
            each val in userData
                tr 
                    td= val.id
                    td= val.firstN + " " + val.lastN
                    td= val.userLogin
                    td= val.email
                    td member
                    td
                        form(class='del-form' action="/updateUser/"+val.id, method="get")
                            input(class='btn-blue' type="submit", value="Update")
                    td 
                        form(class='del-form' method="post" action="/deleteUser/" + val.id)
                            input(type='hidden' name='id' value= val.id)
                            input(class='btn-blue' type="submit", value="Delete")

        div(class='div-center')
            a(href="feedback") 
                button(class='btn-blue') Meeting Info
            a(href="departments") 
                button(class='btn-blue') Go to Departments
            a(href="groups")
                button(class='btn-blue') Groups