extends layout.pug
append head
    title Admin Home
    
append content
    div(class='mynav')
        div(class='title')
            h1 Admin Home
        div(class='logout')
            button(class='logout-btn') Logout
    div(class='container')
        div(class='heading')
            h3 Group Info
        table(id='members')
            tr 
                th id
                th Name
                th Username
                th Email
                th Role
                th DELETE
            each val in userData
                tr 
                    td= val.id
                    td= val.firstN + " " + val.lastN
                    td= val.userLogin
                    td= val.email
                    td member
                    td 
                        form(class='del-form' method="post" action="/deleteUser/" + val.id)
                            input(type='hidden' name='id' value= val.id)
                            input(class='btn-blue' type="submit", value="Delete") 
        br
        button(class='btn-blue') Meeting info
