extends layout.pug
append head
    title Departments

append content
    div(class='mynav')
        div(class='title')
            h1 Departments
        form(action="/logout" method="post")
            button(class="logout-btn" type="submit") logout
    div(class='container')
        table(id='members')
            tr
                th ID
                th Department Name
                th Department Description
            each val in departmentData
                tr
                    td= val.id
                    td= val.depName
                    td= val.depDes
        div(class='div-center')
            a(href="addDepartment") 
                button(class='btn-blue') Add a Department
            a(href="admin") 
                button(class='btn-blue') Back to Admin Home
