extends layout.pug
append head
    title Feedback

append content
    div(class='mynav')
        div(class='title')
            h1 Feedback Info
        div(class='logout')
            button(class='logout-btn') Logout
    div(class='container')
        div(class='heading')
            h3 Feedback Info
        table(id='members')
            tr 
                th id
                th met
                th comments
                th groupID
            each val in feedback
                tr 
                    td= val.id
                    td= val.met
                    td= val.comments
                    td= val.groupID
        div(class='div-center')
            a(href="admin") 
                button(class='btn-blue') Back to Admin