html
    head
        title Home
    body
        h1 Home Page

        label Group Info:
        table(border='1px solid black')
            tr 
                th Name
                th Depatment
                th Role
            tr 
                td Marc
                td business
                td leader
            tr 
                td Brando
                td business
                td member
        br
        button Meeting info