extends layout.pug
append head
    title Home

append content
    div(class='mynav')
        div(class='title')
            h1 Home
        div(class='logout')
            button(class='logout-btn') Logout
    div(class='container')
        div(class='heading')
            h3 Group Info
        table(id='members')
            tr 
                th Name
                th Email
                th Role
            each val in userData
                tr 
                    td= val.firstN
                    td= val.email
                    td member
        br

        div(class='heading')
            h3 Meeting Feedback
        br
        form(action='/comments' method='post')
            h5(style='text-align:center') Did your group meet this month?
            div(class='rad-container')
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="met", value="Yes") 
                    | 
                    a(class='rad-text') Yes, we did
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="met", value="No")
                    |
                    a(class='rad-text') No, we did not
            hr
            div(class='comment-container')
                h5 Comments:
                textarea(name="comments", rows="5", id="comments")
            center
                br
                input(class='btn-blue' type="submit")
