extends layout.pug
append head
    title Home

append content
    div(class='container')
        div(class='heading')
            h1 Home Page

        label Group Info:
        table(id='members')
            tr 
                th Name
                th Email
                th Role
            each val in userData
                tr 
                    td= val.firstN
                    td= val.email
                    td member
        br
        h2 Did your group meet up this month?
        
        input(type="radio", value="1" name="meeting")
        | Yes, we did
        br
        input(type="radio", value="0" name="meeting")
        | No, we did not
        br
        h2 Comments:
        input(type="text" placeholder="Enter Comments" name="comments")

        br 
        button 
            a(href="departments") Go to departments
