extends layout.pug
append head
    title Home

append content
    div(class='container')
        div(class='heading')
            h1 Home Page

        label Group Info:
        table(id='members')
            tr 
                th Name
                th Email
                th Role
            each val in userData
                tr 
                    td= val.firstN
                    td= val.email
                    td member
        br
        button(class='btn-blue') Meeting info
        br 
        button 
            a(href="departments") Go to departments
