html
    head
        title Home
    body
        h1 Home Page

        label Group Info:
        table(border='1px solid black')
            tr 
                th Name
                th Email
                th Role
            each val in userData
                tr 
                    td= val.firstN
                    td= val.email
                    td member
        br
        button Meeting info
