extends layout.pug
append head
    title Login
append content
    div(class='container')
        div(class='heading')
            h1 Login
        form(action="" method="post")
            label Email
            input(placeholder="Enter Email" name="email" id="email" required)
            br

            label Password
            input(type='password' placeholder='Enter Password' required)
            br 

            input(type='submit')
            
        div Not registered?
        a(href="register") Create an account