extends layout.pug
append head
    title Login
append content
    div(class='container')
        div(class='heading')
            h1 Login
        form(action="login" method="post")
            label Username
            input(placeholder="Enter Username" name="username" id="username" required)
            br

            label Password
            input(type='password' placeholder='Enter Password' name="password" id="password" required)
            br 

            input(type='submit')
            
        div Not registered?
        a(href="register") Create an account