html
    head
        title Preferences
    body
        h1 Preferences
        h3 Select the departments you are willing to meet with:
        
        br
        form(action="")
            input(type='checkbox' value='math')
            label(for='math') Math
            br

            input(type='checkbox' value='science')
            label(for='science') Science
            br

            input(type='checkbox' value='business')
            label(for='business') Business
            br

            input(type='checkbox' value='nursing')
            label(for='nursing') Nursing
            br

            input(type='checkbox' value='education')
            label(for='education') Education
            br

            input(type='submit')
