extends layout.pug
append head
    title Preferences
append content
    div(class='container')
        div(class='heading')
            h1 Preferences
        h3 Select the departments you are willing to meet with:
        
        br
        form(action="updateDepartment" method="post")
            for val in departmentData
                input(id='check' name='check' type='radio' value= val.id)
                label(for= val.depName)= val.depName
                br
            input(type='submit')