html
    head
        title Register
    body
        h1 Register
        hr

        form(action="")
            label Email
            input(type="text" placeholder="Enter Email" name="email" id="email" required)
            br

            label Password
            input(type='password' placeholder='Enter Password' required)
            br

            label(for="psw-repeat") Confirm Password
            input(type="password" placeholder="Repeat Password" required)
            br
            
            input(type='submit')