extends layout.pug
append head
    title Register
append content
    div(class='container')
        div(class='heading')
            h1 Register
        hr

        form(action="registerUser" method="post")
            label First Name: 
            input(type="text" placeholder="Enter First Name" name="firstN" id="firstN" required)
            br

            label Last Name: 
            input(type="text" placeholder="Enter Last Name" name="lastN" id="lastN" required)
            br

            label Username: 
            input(type="text" placeholder="Enter Username" name="userLogin" id="userLogin" required)
            br

            label Email: 
            input(type="email" placeholder="Enter Email" name="email" id="email" required)
            br

            label Password: 
            input(type='password' placeholder='Enter Password' name="userPassw" id="userPassw" required)
            br

            label Department:
            select(name="department" id='department' required)
                each val in departmentData            
                    option(value=val.depName)= val.depName
                    
            button(type='submit') Create User

        div Go Back to Login
        a(href="login") Login